In [9]:
!head -n 11 Makefile

enliten.sql:
	7z x archive/enliten.7z # 7zipped Enliten SQL dump

import: enliten.sql
	mysql -uroot -e "DROP DATABASE IF EXISTS enliten; CREATE DATABASE enliten;"
	mysql -uroot enliten < enliten.sql
	mysql -uroot enliten -e "ALTER TABLE HTCs MODIFY HTCs.default TINYINT(1);"
	mysql -uroot enliten -e "ALTER TABLE login_attempts MODIFY ip_address VARCHAR(255);"
	mysql -uroot enliten -e "DELETE FROM users;" # personally identifiable info
	mysql -uroot enliten -e "ALTER TABLE users MODIFY ip_address VARCHAR(255);"
	mysql -uroot enliten -e "ALTER TABLE whomes MODIFY code VARCHAR(255);"

In [9]:
# First run Makefile (or somehow import SQL dump)

from datapackage import pull_datapackage
from sqlalchemy import create_engine

engine = create_engine('mysql://root@localhost/enliten')

pull_datapackage(
    descriptor='enliten-datapackage/datapackage.json',
    name="enliten-datapackage",
    backend='sql',
    engine=engine)

Storage <Engine(mysql://root@localhost/enliten)/None>

In [ ]:
# Data Package created is not valid: https://github.com/frictionlessdata/jsontableschema-sql-py/issues/52

# TODO manually modify datapackage.json
# TODO add name "users" to resource with path "users.csv"
# TODO add name "groups" to resource with path "groups.csv"
# TODO replace "null" resource references with names as above